Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn

font tweaks - #913 (#923)
  source/pug/templates/master.pug
  source/pug/views/home.pug
  source/pug/views/style-guide.pug
  source/sass/type.scss
Owners: @gvn, @mmmavis

upgrading moment due to vulnerability
  package-lock.json
  package.json
Owners: @gvn

upgrading moment due to vulnerability (#928)
  package-lock.json
  package.json
Owners: @gvn

Fix#752
  source/js/components/multipage-nav/multipage-nav.scss
Owners: @gvn, @mmmavis

med
  source/js/components/multipage-nav/multipage-nav.scss
Owners: @gvn, @mmmavis

Fix#752 - Chevron rotation fix for iOS devices (#935)
  source/js/components/multipage-nav/multipage-nav.scss
Owners: @gvn, @mmmavis

Temporarily hard-code redirect for fellowships
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Temporarily hard-code redirect for fellowships (#939)
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Fixes #940 - Configure flake8 to allow lines up to 119 characters long
  network-api/tox.ini
Owners: @cadecairos, @gideonthomas

Fixes #940 - Configure flake8 to allow lines up to 119 characters long (#941)
  network-api/tox.ini
Owners: @cadecairos, @gideonthomas

Update env
  env.default
Owners: @cadecairos, @gvn

show all news past 2015 - #943
  source/js/components/news/news.jsx
Owners: @gvn, @mmmavis

Update env (#942)
  env.default
Owners: @cadecairos, @gvn

show all news past 2015 - #943 (#944)
  source/js/components/news/news.jsx
Owners: @gvn, @mmmavis

adding 127.0.0.1 to default ALLOWED_HOSTS
  env.default
Owners: @cadecairos, @gvn

adding 127.0.0.1 to default ALLOWED_HOSTS (#949)
  env.default
Owners: @cadecairos, @gvn

Set stage for fellowships pages w/ django template
  network-api/networkapi/fellows/__init__.py
  network-api/networkapi/fellows/admin.py
  network-api/networkapi/fellows/apps.py
  network-api/networkapi/fellows/migrations/__init__.py
  network-api/networkapi/fellows/models.py
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/tests.py
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Appeasing our flake overlords
  network-api/networkapi/fellows/admin.py
  network-api/networkapi/fellows/models.py
  network-api/networkapi/fellows/tests.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

Set stage for fellowships pages w/ django template (#961)
  network-api/networkapi/fellows/__init__.py
  network-api/networkapi/fellows/admin.py
  network-api/networkapi/fellows/apps.py
  network-api/networkapi/fellows/migrations/__init__.py
  network-api/networkapi/fellows/models.py
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/tests.py
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Update Faker and move to one factory per apps
  network-api/networkapi/news/factory.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Create NewsFactory
  network-api/networkapi/utility/fakedata.py
Owners: @cadecairos, @gideonthomas

Move tests in a tests folder per app + HighlightFactory tests
  network-api/networkapi/highlights/tests/__init__.py
  network-api/networkapi/highlights/tests/tests_factory.py
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/news/tests/__init__.py
  network-api/networkapi/news/tests/tests_factory.py
  network-api/networkapi/news/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

Implement tests for the PersonFactory class
  network-api/networkapi/people/tests.py
Owners: @cadecairos, @gideonthomas

Fix news factory and tests. Fix some typos
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/news/tests.py
  network-api/networkapi/news/tests_factory.py
  network-api/networkapi/news/tests_views.py
  network-api/networkapi/people/tests.py
Owners: @cadecairos, @gideonthomas

Update the highlight tests
  network-api/networkapi/highlights/tests.py
Owners: @cadecairos, @gideonthomas

news factory WIP
  network-api/networkapi/homepage/factory.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/news/tests.py
Owners: @cadecairos, @gideonthomas

Implement HighlightFactory
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/highlights/tests.py
  network-api/networkapi/utility/utc.py
Owners: @cadecairos, @gideonthomas

lint fixes
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/people/factory.py
  network-api/networkapi/utility/utc.py
Owners: @cadecairos, @gideonthomas

1. fixes for highlights factory and tests 2. fixes for homepage factory and tests 3. fixes for people factory
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/highlights/tests.py
  network-api/networkapi/homepage/factory.py
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/people/factory.py
Owners: @cadecairos, @gideonthomas

1. Implement HomepageLeaderFactory tests 2. Fix the post_generation check for a tuple in the PersonFactory
  network-api/networkapi/homepage/factory.py
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/people/factory.py
Owners: @cadecairos, @gideonthomas

Refactor Highlight View Tests
  network-api/networkapi/highlights/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

Small fix
  network-api/networkapi/milestones/factory.py
  network-api/networkapi/news/factory.py
Owners: @cadecairos, @gideonthomas

WIP Homepage view tests
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/homepage/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

Homepage Factories Tests
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/homepage/tests/__init__.py
  network-api/networkapi/homepage/tests/tests_factory.py
Owners: @cadecairos, @gideonthomas

first try at the management command
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

HightlightFactory test cleanup
  network-api/networkapi/highlights/tests/tests_factory.py
Owners: @cadecairos, @gideonthomas

Add milestone factory + tests
  network-api/networkapi/milestones/factory.py
  network-api/networkapi/milestones/tests/__init__.py
  network-api/networkapi/milestones/tests/tests_factory.py
  network-api/networkapi/milestones/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

FileField Support
  network-api/media/images/placeholders/generic/computerandcoffee.jpg
  network-api/media/images/placeholders/generic/hotair.jpg
  network-api/media/images/placeholders/generic/photographer.jpg
  network-api/media/images/placeholders/generic/tigerparrot.jpg
  network-api/media/images/placeholders/generic/windfarm.jpg
  network-api/media/images/placeholders/people/dino.jpg
  network-api/media/images/placeholders/people/man.jpg
  network-api/media/images/placeholders/people/woman.jpg
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/milestones/factory.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/people/factory.py
  network-api/networkapi/utility/faker_providers.py
Owners: @cadecairos, @gideonthomas

Remove UTC and general cleanup
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/highlights/tests/tests_factory.py
  network-api/networkapi/homepage/factory.py
  network-api/networkapi/homepage/tests.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/news/tests/tests_factory.py
  network-api/networkapi/news/tests/tests_views.py
  network-api/networkapi/people/factory.py
  network-api/networkapi/people/tests.py
  network-api/networkapi/utility/utc.py
Owners: @cadecairos, @gideonthomas

make the milestone duration a datetime.datetime, and make it configurable
  network-api/networkapi/milestones/factory.py
Owners: @cadecairos, @gideonthomas
