Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn

Find out which url is it resolving to
  network-api/networkapi/settings.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Fix stuff
  network-api/networkapi/fellows/views.py
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Remove debugging stuff
  network-api/networkapi/settings.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Fix review apps for fellows (#1010)
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

test_views for people app added
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/milestones/tests/tests_views.py
  network-api/networkapi/news/tests/tests_views.py
  network-api/networkapi/people/tests/test_views.py
Owners: @cadecairos, @gideonthomas

Update tests_views.py
  network-api/networkapi/highlights/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

Update tests_views.py
  network-api/networkapi/milestones/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

Update tests_views.py
  network-api/networkapi/news/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

added fellowship directory link to <Person>
  source/js/components/people/person.jsx
  source/js/main.js
  source/sass/utilities.scss
Owners: @gvn, @mmmavis

fellowship nav and breadcrumb
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/utility/templatetags/fellowship_active_nav.py
  source/sass/type.scss
  source/sass/utilities.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

fixed broken link
  network-api/networkapi/fellows/templates/fellows_type.html
Owners: @cadecairos, @gideonthomas

Related to #951 - Fellowship type page + Science fellowship page
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/templates/foundation-base.html
  source/js/components/people/people.scss
  source/js/main.js
  source/sass/main.scss
  source/sass/type.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

open web fellowship
  network-api/networkapi/fellows/templates/fellows_openweb.html
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

renamed foundation-base.html to fellows-base.html
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/templates/fellowships-base.html
Owners: @cadecairos, @gideonthomas

separate fellowships related bits to its own js file
  source/js/fellowships.js
  source/js/main.js
Owners: @gvn, @mmmavis

added an inline comment
  source/js/main.js
Owners: @gvn, @mmmavis

css tweaks
  source/js/fellowships.js
  source/sass/type.scss
Owners: @gvn, @mmmavis

Fellowship type pages (#994)
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/templates/fellowships-base.html
  network-api/networkapi/utility/templatetags/fellowship_active_nav.py
  source/js/components/people/people.scss
  source/js/components/people/person.jsx
  source/js/fellowships.js
  source/js/main.js
  source/sass/main.scss
  source/sass/type.scss
  source/sass/utilities.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

fixed rebase conflicts
  source/js/main.js
Owners: @gvn, @mmmavis

fixed rebase conflicts
  source/js/main.js
Owners: @gvn, @mmmavis

updated some dummy data
  source/js/fellowships.js
Owners: @gvn, @mmmavis

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
Owners: @cadecairos, @gideonthomas

removed an extra import
  source/js/main.js
Owners: @gvn, @mmmavis

Fellowships support page (#1006)
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  source/js/fellowships.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

flake fix
  network-api/networkapi/people/tests/test_views.py
Owners: @cadecairos, @gideonthomas

Related to #954 - fellowships application closed page & CSS cleanup for 'join-us' component
  network-api/networkapi/fellows/templates/fellows_apply.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/join/join.jsx
  source/js/components/join/join.scss
  source/pug/views/sign-up.pug
  source/pug/views/style-guide.pug
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Related to #954 - fellowships application closed page & CSS cleanup for 'join-us' component (#1018)
  network-api/networkapi/fellows/templates/fellows_apply.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/join/join.jsx
  source/js/components/join/join.scss
  source/pug/views/sign-up.pug
  source/pug/views/style-guide.pug
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Related to #1019 - repsonsive fellowships nav + #977 - better multi-page nav on mobile
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/sass/type.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

some code cleanup
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

removed console.log
  source/js/components/multipage-nav/multipage-nav.jsx
Owners: @gvn, @mmmavis

fixed linting errors
  source/js/components/multipage-nav/multipage-nav.scss
Owners: @gvn, @mmmavis

made sure Nunito Sans font weight 700 style is loaded
  network-api/networkapi/templates/fellowships-base.html
  source/pug/templates/master.pug
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Responsive fellowships nav & better multi-page nav on mobile (#1020)
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/pug/templates/master.pug
  source/sass/type.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

test_views for people app added (#1011)
  network-api/networkapi/people/tests/test_views.py
Owners: @cadecairos, @gideonthomas

flake fix
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Create campaigns with fake data
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

Fix placeholder content grammar in tests
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

Flush campaign page objects
  network-api/networkapi/management/commands/flush_models.py
Owners: @cadecairos, @gideonthomas

Fix flake
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

Create campaigns with fake data (#1026)
  network-api/networkapi/management/commands/flush_models.py
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas
