Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn

OOps (#1002)
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Change url of api post call
  source/js/main.js
Owners: @gvn, @mmmavis

change chokidar arguments to use " rather than '
  package.json
Owners: @gvn

switched to class-based views for fellows
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

fixed linting errors
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

petition refactors and UI switching based on state
  source/js/components/petition/petition.jsx
  source/js/components/petition/petition.scss
Owners: @gvn, @mmmavis

no rrrrrr
  network-api/networkapi/fellows/urls.py
Owners: @cadecairos, @gideonthomas

added unrecoverableError case
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

usecase render fixes
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @gvn, @mmmavis

hints for testing
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

get rrrrr back
  network-api/networkapi/fellows/urls.py
Owners: @cadecairos, @gideonthomas

split off thank you/unrecoverable for ease of work
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

proper thank you, still missing true share link
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

restored header, set default values
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

made models.Petition.header optional
  network-api/networkapi/campaign/migrations/0005_auto_20180125_1610.py
  network-api/networkapi/campaign/models.py
Owners: @cadecairos, @gideonthomas

bad error text refinement
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

change chokidar arguments to use " rather than ' (#1004)
  package.json
Owners: @gvn

Clean up petition markup
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Add backend petition signup logic
  env.default
  network-api/networkapi/campaign/urls.py
  network-api/networkapi/campaign/views.py
  network-api/networkapi/settings.py
  network-api/networkapi/urls.py
Owners: @cadecairos, @gvn, @gideonthomas

Push petitions to sawmill
  network-api/networkapi/campaign/views.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

manage test fixes
  network-api/networkapi/campaign/tests/tests_factory.py
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/milestones/tests/tests_views.py
  network-api/networkapi/news/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

flake8
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

lint fixes
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @gvn, @mmmavis

Change gform fields
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

Isolate SQS env vars
  network-api/networkapi/campaign/views.py
  network-api/networkapi/settings.py
Owners: @cadecairos, @gideonthomas

Remove use_ssl
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

processFormData should accept an argument named 'event'
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Squash migrations
  network-api/networkapi/campaign/migrations/0001_initial.py
  network-api/networkapi/campaign/migrations/0002_auto_20180124_1611.py
  network-api/networkapi/campaign/migrations/0003_auto_20180124_1620.py
  network-api/networkapi/campaign/migrations/0004_auto_20180125_1754.py
  network-api/networkapi/campaign/migrations/0005_auto_20180125_1610.py
Owners: @cadecairos, @gideonthomas

Migration ninja-edit
  network-api/networkapi/campaign/migrations/0001_initial.py
  network-api/networkapi/campaign/models.py
Owners: @cadecairos, @gideonthomas

move the SQS Queue URL setting
  network-api/networkapi/settings.py
Owners: @cadecairos, @gideonthomas

add SQS variables to env.default
  env.default
Owners: @cadecairos, @gvn

Update GA categories
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Campaign pages and petition (#1007)
  .gitignore
  env.default
  network-api/networkapi/campaign/__init__.py
  network-api/networkapi/campaign/admin.py
  network-api/networkapi/campaign/apps.py
  network-api/networkapi/campaign/factory.py
  network-api/networkapi/campaign/migrations/0001_initial.py
  network-api/networkapi/campaign/migrations/__init__.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/campaign/tests/__init__.py
  network-api/networkapi/campaign/tests/tests_factory.py
  network-api/networkapi/campaign/urls.py
  network-api/networkapi/campaign/views.py
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/landingpage/migrations/0007_auto_20180125_1539.py
  network-api/networkapi/milestones/tests/tests_views.py
  network-api/networkapi/news/tests/tests_views.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/urls.py
  source/js/components/join/join.jsx
  source/js/components/petition/petition.jsx
  source/js/components/petition/petition.scss
  source/js/main.js
Owners: @gvn, @cadecairos, @gideonthomas, @mmmavis

Make basket actually submit, fix a className
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Make unchecked boxes specifically “No”
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

Change some copy/links
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Capture newsletter subscription for petition in google form
  network-api/networkapi/campaign/views.py
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Campaign fixes (#1008)
  network-api/networkapi/campaign/views.py
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Capture newsletter subscription for petition in google form (#1009)
  network-api/networkapi/campaign/views.py
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Test commit
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas
