Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

Adding some stub urls for the fellowships site. (#971)
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
  package-lock.json
Owners: @cadecairos, @gideonthomas, @gvn

updated elements on the page based on the latest comps
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

added the last 2 sections in
  network-api/networkapi/fellows/templates/fellows_home.html
Owners: @cadecairos, @gideonthomas

removed redundant code
  network-api/networkapi/fellows/templates/fellows_home.html
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

to match the updated comps
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

fixed broken links
  network-api/networkapi/templates/foundation-base.html
  package-lock.json
Owners: @cadecairos, @gideonthomas, @gvn

named URL patterns
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

custom template tag 'active_nav'
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/utility/templatetags/active_nav.py
Owners: @cadecairos, @gideonthomas

applied custom template tag
  network-api/networkapi/templates/foundation-base.html
Owners: @cadecairos, @gideonthomas

fixed linting error
  network-api/networkapi/fellows/urls.py
Owners: @cadecairos, @gideonthomas

Use Faker.text with max_nb_chars=50 to generate IHR issue names (#983)
  network-api/networkapi/people/factory.py
Owners: @cadecairos, @gideonthomas

fixed linting error
  network-api/networkapi/utility/templatetags/active_nav.py
Owners: @cadecairos, @gideonthomas

hero banner added in about page
  source/pug/views/about.pug
Owners: @gvn, @mmmavis

small fix
  source/pug/views/about.pug
Owners: @gvn, @mmmavis

small fix 2
  source/pug/views/about.pug
Owners: @gvn, @mmmavis

small fix
  network-api/networkapi/settings.py
  network-api/networkapi/urls.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

fellowships homepage wireframe (#965)
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/utility/templatetags/active_nav.py
  package-lock.json
Owners: @cadecairos, @gideonthomas, @gvn

small changes
  network-api/networkapi/settings.py
Owners: @cadecairos, @gideonthomas

campaign clone stub
  network-api/networkapi/campaign/__init__.py
  network-api/networkapi/campaign/admin.py
  network-api/networkapi/campaign/apps.py
  network-api/networkapi/campaign/factory.py
  network-api/networkapi/campaign/migrations/0001_initial.py
  network-api/networkapi/campaign/migrations/__init__.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/campaign/tests/__init__.py
  network-api/networkapi/campaign/tests/tests_factory.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

template test
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

initial jsx hooking
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
  source/js/components/petition/petition.scss
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Reposition petition form
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Reposition petition form (#997)
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Petition markup update
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

petition <-> jsx bridging
  network-api/networkapi/campaign/migrations/0002_auto_20180124_1611.py
  network-api/networkapi/campaign/migrations/0003_auto_20180124_1620.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
  source/js/components/petition/petition.scss
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Change default signup newsletter (as per Steph M)
  network-api/networkapi/landingpage/migrations/0007_auto_20180125_1539.py
  network-api/networkapi/landingpage/models.py
  source/js/components/join/join.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Satisfy Travis
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @gvn, @mmmavis

Fix flake
  .gitignore
  network-api/networkapi/campaign/factory.py
Owners: @gvn, @cadecairos, @gideonthomas

fixes #960 - hero banner added in about page (#989)
  source/pug/views/about.pug
Owners: @gvn, @mmmavis

First bit of changes
  network-api/networkapi/campaign/migrations/0004_auto_20180125_1754.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

First bit of changes (#999)
  network-api/networkapi/campaign/migrations/0004_auto_20180125_1754.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

restore campaign hero graphic
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Small fixes
  source/js/components/petition/petition.jsx
  source/js/main.js
Owners: @gvn, @mmmavis

restore campaign hero graphic (#1001)
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

OOps
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn
