Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

Fix views tests + typo
  network-api/networkapi/highlights/tests/tests_factory.py
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/milestones/tests/tests_views.py
  network-api/networkapi/news/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

how did that sneak back in there
  requirements.txt
Owners: @cadecairos

Such change, very wow
  network-api/networkapi/fixtures/test_data.json
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/homepage/factory.py
  network-api/networkapi/homepage/tests/tests_factory.py
  network-api/networkapi/landingpage/factory.py
  network-api/networkapi/landingpage/tests/__init__.py
  network-api/networkapi/landingpage/tests/tests_factory.py
  network-api/networkapi/management/commands/heroku_release.py
  network-api/networkapi/milestones/factory.py
  network-api/networkapi/milestones/tests/tests_factory.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/news/tests/tests_factory.py
  network-api/networkapi/people/factory.py
  network-api/networkapi/people/tests.py
  network-api/networkapi/people/tests/__init__.py
  network-api/networkapi/people/tests/tests_factory.py
  network-api/networkapi/settings.py
  network-api/networkapi/utility/faker_providers.py
Owners: @cadecairos, @gideonthomas

add coveralls badge
  README.md
Owners: @gvn

fix invalid YAML in .travis.yml
  .travis.yml
Owners: @cadecairos

Generate actual Internet Health Issue objects, to be associated with the generated People
  network-api/networkapi/management/commands/flush_models.py
  network-api/networkapi/management/commands/load_fake_data.py
  network-api/networkapi/people/factory.py
Owners: @cadecairos, @gideonthomas

try removing trailing slashes
  network-api/networkapi/highlights/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

remove unused import, report coverage to coveralls
  .travis.yml
  network-api/networkapi/management/commands/load_fake_data.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

It helps if you do not hard code the pk
  network-api/networkapi/highlights/tests/tests_views.py
  network-api/networkapi/milestones/tests/tests_views.py
  network-api/networkapi/news/tests/tests_views.py
Owners: @cadecairos, @gideonthomas

copy paste fail
  README.md
Owners: @gvn

1. Add a seed option to ensure reproducible output 2. Add landing pages with CTAs
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

Small fixes + readme update
  README.md
  network-api/networkapi/highlights/factory.py
  network-api/networkapi/highlights/tests/tests_factory.py
  network-api/networkapi/homepage/tests/tests_factory.py
  network-api/networkapi/landingpage/factory.py
  network-api/networkapi/management/commands/flush_models.py
  network-api/networkapi/management/commands/heroku_release.py
  network-api/networkapi/milestones/factory.py
  network-api/networkapi/milestones/tests/tests_factory.py
  network-api/networkapi/news/factory.py
  network-api/networkapi/people/factory.py
  network-api/networkapi/utility/faker_providers.py
  requirements.txt
Owners: @gvn, @cadecairos, @gideonthomas

Always provide our own seed value to Faker, so we can output it, for reproducible results
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

Modify the command to load fake data on Heroku review apps
  network-api/networkapi/management/commands/heroku_release.py
Owners: @cadecairos, @gideonthomas

missed a typo
  README.md
Owners: @gvn

update app.json
  app.json
Owners: @gvn

update readme
  README.md
Owners: @gvn

fix a lint error
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

small template modification to add an ask survey
  network-api/networkapi/landingpage/admin.py
  network-api/networkapi/landingpage/migrations/0007_landingpage_survey_id.py
  network-api/networkapi/landingpage/migrations/0008_auto_20180117_2143.py
  network-api/networkapi/landingpage/models.py
Owners: @cadecairos, @gideonthomas

modify default settings for local dev and review apps
  app.json
  env.default
Owners: @gvn, @cadecairos

update the pug template
  source/pug/views/opportunity.pug
Owners: @gvn, @mmmavis

remove leftover context.update calls
  network-api/networkapi/utility/templatetags/adminsortable_tags_custom.py
Owners: @cadecairos, @gideonthomas

Django 1.11 (#970)
  network-api/networkapi/settings.py
  network-api/networkapi/utility/templatetags/adminsortable_tags_custom.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Revert "Django 1.11 (#970)"
  network-api/networkapi/settings.py
  network-api/networkapi/utility/templatetags/adminsortable_tags_custom.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Revert "Django 1.11 (#970)" (#973)
  network-api/networkapi/settings.py
  network-api/networkapi/utility/templatetags/adminsortable_tags_custom.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Add years to the front of the newsByYear array as we iterate, rather than to the back [Fixes #972]
  source/js/components/news/news.jsx
Owners: @gvn, @mmmavis

Add years to the front of the newsByYear array as we iterate, rather than to the back [Fixes #972] (#975)
  source/js/components/news/news.jsx
Owners: @gvn, @mmmavis

Use the latest filebrowser_safe commit that support 1.11
  requirements.txt
Owners: @cadecairos

Django 1.11 (#976)
  network-api/networkapi/settings.py
  network-api/networkapi/utility/templatetags/adminsortable_tags_custom.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Use Mezzanine's built in slug behaviour, so that nested pages inherit their parent slugs
  network-api/networkapi/landingpage/factory.py
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

no need to manually override slug for /opportunity
  network-api/networkapi/management/commands/load_fake_data.py
Owners: @cadecairos, @gideonthomas

remove unused slugify import
  network-api/networkapi/landingpage/factory.py
Owners: @cadecairos, @gideonthomas

Subclass the CompressedManifestStaticFilesStorage class to set manifest_strict to False: https://docs.djangoproject.com/en/1.11/ref/contrib/staticfiles/\#manifeststaticfilesstorage
  network-api/networkapi/settings.py
  network-api/networkapi/utility/staticfiles.py
Owners: @cadecairos, @gideonthomas

Subclass the CompressedManifestStaticFilesStorage class to set manifest_strict to False: https://docs.djangoproject.com/en/1.11/ref/contrib/staticfiles/\#manifeststaticfilesstorage (#980)
  network-api/networkapi/settings.py
  network-api/networkapi/utility/staticfiles.py
Owners: @cadecairos, @gideonthomas

Use Mezzanine's built in slug behaviour, so that nested pages inherit… (#978)
  network-api/networkapi/landingpage/factory.py
Owners: @cadecairos, @gideonthomas

replaces guetzli with imagemin-guetzli
  package.json
Owners: @gvn

replaces guetzli with imagemin-guetzli (#982)
  package.json
Owners: @gvn

Use Faker.text with max_nb_chars=50 to generate IHR issue names
  network-api/networkapi/people/factory.py
Owners: @cadecairos, @gideonthomas

Adding some stub urls for the fellowships site.
  network-api/networkapi/fellows/templates/fellows_apply.html
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

Update some of the urls a bit more
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn
