Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

updated fellowships support page
  network-api/networkapi/fellows/templates/fellows_support.html
Owners: @cadecairos, @gideonthomas

Update campaign template #1039
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

updated fellowships support page (#1049)
  network-api/networkapi/fellows/templates/fellows_support.html
Owners: @cadecairos, @gideonthomas

Update campaign template #1039 (#1052)
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

basic master template
  network-api/networkapi/templates/pages/base.html
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

compiling shared base template for django pages
  .gitignore
  network-api/networkapi/templates/pages/base.html
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/templates/pages/landingpage.html
  scripts/build-pug.js
  source/pug/templates/base-for-django.pug
  source/pug/views/opportunity.pug
Owners: @gvn, @cadecairos, @gideonthomas, @mmmavis

updated an url name
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/templates/fellowships-base.html
Owners: @cadecairos, @gideonthomas

fixups
  source/pug/templates/base-for-django.pug
Owners: @gvn, @mmmavis

readme update
  README.md
Owners: @gvn

Share base template for opportunity and campaign pages (#1053)
  .gitignore
  README.md
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/templates/pages/landingpage.html
  scripts/build-pug.js
  source/pug/templates/base-for-django.pug
  source/pug/views/opportunity.pug
Owners: @gvn, @cadecairos, @gideonthomas, @mmmavis

Fellowships directory pages (#1046)
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_directory_type.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.scss
  source/js/components/people/person.jsx
  source/js/fellowships.js
  source/js/main.js
  source/sass/views/fellowships/shared.scss
  source/sass/views/home.scss
  source/sass/views/landing.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_type.html
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

code cleanup + added 2 more pages (tech policy and media)
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Restore CMS unordered list style
  source/sass/cms.scss
Owners: @gvn, @mmmavis

made code DRYer & added a few more templates
  network-api/networkapi/fellows/templates/application_cta_banner.html
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_media.html
  network-api/networkapi/fellows/templates/fellows_open_web.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_tech_policy.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
Owners: @cadecairos, @gideonthomas

removed an extra line
  network-api/networkapi/fellows/templates/fellows_support.html
Owners: @cadecairos, @gideonthomas

Fixes to petition layout.
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Make input widths smaller.
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Better bootstrap stuff for mobile.
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Restore CMS unordered list style (#1058)
  source/sass/cms.scss
Owners: @gvn, @mmmavis

Fine tune petition columns
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Fine tune petition columns (#1063)
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Fixes to petition layout. (#1060)
  network-api/networkapi/templates/pages/campaign.html
  source/js/components/petition/petition.jsx
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn
