Repository MozillaFoundation/foundation.mozilla.org, changes with the owners that CODEOWNERS names for each.
All owners: @alanmoo, @cadecairos, @gvn, @pomax, @gideonthomas, @mmmavis

Store google form fields in petition model
  network-api/networkapi/campaign/migrations/0002_auto_20180206_2044.py
  network-api/networkapi/campaign/models.py
Owners: @cadecairos, @gideonthomas

Store google form fields in petition model (#1030)
  network-api/networkapi/campaign/migrations/0002_auto_20180206_2044.py
  network-api/networkapi/campaign/models.py
Owners: @cadecairos, @gideonthomas

Update props used for thank you message for petitions.
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Add fields for petition component
  network-api/networkapi/campaign/migrations/0003_auto_20180206_2116.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Fix the indentation on non-multipage campaigns
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Add fields for petition component (#1031)
  network-api/networkapi/campaign/migrations/0003_auto_20180206_2116.py
  network-api/networkapi/campaign/models.py
  network-api/networkapi/templates/pages/campaign.html
Owners: @cadecairos, @gideonthomas

Use google form fields from petition model in post route
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

place petition in-page or below-page based on child count
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/templates/pages/petition-block.html
Owners: @cadecairos, @gideonthomas

better in-template logic
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/templates/pages/petition-block.html
Owners: @cadecairos, @gideonthomas

Update props used for thank you message for petitions. (#1032)
  source/js/components/petition/petition.jsx
Owners: @gvn, @mmmavis

Use google form fields from petition model in post route (#1033)
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

Use yes/no for mozilla newsletter signup in petition
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

Use yes/no for mozilla newsletter signup in petition (#1036)
  network-api/networkapi/campaign/views.py
Owners: @cadecairos, @gideonthomas

Related to #977 - better secondary nav on mobile
  network-api/networkapi/templates/pages/campaign.html
  package-lock.json
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/pug/templates/master.pug
  source/sass/type.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

changed class name 'opp-link' to 'multipage-link'
  network-api/networkapi/templates/pages/menus/side-menu-items.html
  source/js/components/multipage-nav/multipage-nav.jsx
  source/sass/type.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

added secondary nav (multipage-nav) to style guide
  source/pug/views/style-guide.pug
Owners: @gvn, @mmmavis

Add wagtail
  network-api/networkapi/settings.py
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

updated fellowships homepage
  network-api/networkapi/fellows/templates/fellows_home.html
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

small tweaks
  network-api/networkapi/fellows/templates/fellows_home.html
Owners: @cadecairos, @gideonthomas

uncommitted package-lock.json
  package-lock.json
Owners: @gvn

added back package-lock.json
  package-lock.json
Owners: @gvn

Wagtail version of homepage model
  network-api/networkapi/highlights/admin.py
  network-api/networkapi/highlights/migrations/0006_auto_20180208_2205.py
  network-api/networkapi/highlights/models.py
  network-api/networkapi/homepage/migrations/0004_auto_20180208_2205.py
  network-api/networkapi/homepage/models.py
  network-api/networkapi/news/admin.py
  network-api/networkapi/news/models.py
  network-api/networkapi/people/admin.py
  network-api/networkapi/people/models.py
  network-api/networkapi/settings.py
  network-api/networkapi/urls.py
  requirements.txt
Owners: @cadecairos, @gideonthomas

Better secondary nav on mobile (#1040)
  network-api/networkapi/templates/pages/campaign.html
  network-api/networkapi/templates/pages/menus/side-menu-items.html
  package-lock.json
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/pug/templates/master.pug
  source/pug/views/style-guide.pug
  source/sass/type.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Related to #977 - fixed multi-line text link's underline bug
  source/sass/type.scss
Owners: @gvn, @mmmavis

more styling fixes
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/sass/type.scss
Owners: @gvn, @mmmavis

Set stage for fellowships pages w/ django template (#961)
  network-api/networkapi/fellows/__init__.py
  network-api/networkapi/fellows/admin.py
  network-api/networkapi/fellows/apps.py
  network-api/networkapi/fellows/migrations/__init__.py
  network-api/networkapi/fellows/models.py
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/tests.py
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/settings.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

Adding some stub urls for the fellowships site. (#971)
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
Owners: @cadecairos, @gideonthomas

fellowships homepage wireframe (#965)
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/utility/templatetags/active_nav.py
Owners: @cadecairos, @gideonthomas

Fix review apps for fellows (#1010)
  network-api/networkapi/urls.py
Owners: @cadecairos, @gideonthomas

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_openweb.html
  network-api/networkapi/fellows/templates/fellows_science.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/templates/fellowships-base.html
  network-api/networkapi/utility/templatetags/fellowship_active_nav.py
  source/js/components/people/people.scss
  source/js/components/people/person.jsx
  source/js/fellowships.js
  source/js/main.js
  source/sass/main.scss
  source/sass/utilities.scss
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Fellowships support page (#1006)
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  source/js/fellowships.js
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

fixed rebase conflicts
  network-api/networkapi/fellows/templates/fellows_apply.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/join/join.jsx
  source/js/components/join/join.scss
  source/pug/views/sign-up.pug
  source/pug/views/style-guide.pug
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Responsive fellowships nav & better multi-page nav on mobile (#1020)
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.jsx
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Updated fellowships homepage (#1042)
  network-api/networkapi/fellows/templates/fellows_home.html
  source/sass/views/fellowships/shared.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Related to #955 - fellowships directory page
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_directory_type.html
  network-api/networkapi/fellows/templates/fellows_home.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/foundation-base.html
  network-api/networkapi/utility/templatetags/active_nav.py
  source/js/components/multipage-nav/multipage-nav.scss
  source/js/components/people/person.jsx
  source/js/fellowships.js
  source/js/main.js
  source/sass/views/fellowships/shared.scss
  source/sass/views/home.scss
  source/sass/views/landing.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

removed a repeated block
  network-api/networkapi/fellows/templates/fellows_home.html
Owners: @cadecairos, @gideonthomas

Related to #955 - fellowships directory pages
  network-api/networkapi/fellows/templates/fellows_directory.html
  network-api/networkapi/fellows/templates/fellows_directory_type.html
  network-api/networkapi/fellows/templates/fellows_support.html
  network-api/networkapi/fellows/templates/fellows_type.html
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
  source/js/components/multipage-nav/multipage-nav.scss
  source/js/components/people/person.jsx
  source/js/fellowships.js
  source/js/main.js
  source/sass/views/fellowships/shared.scss
  source/sass/views/home.scss
  source/sass/views/landing.scss
Owners: @cadecairos, @gideonthomas, @gvn, @mmmavis

Fixed multi-line text link's underline bug (#1043)
  source/js/components/multipage-nav/multipage-nav.jsx
  source/js/components/multipage-nav/multipage-nav.scss
  source/sass/type.scss
Owners: @gvn, @mmmavis

named group url pattern
  network-api/networkapi/fellows/urls.py
  network-api/networkapi/fellows/views.py
  network-api/networkapi/templates/fellowships-base.html
Owners: @cadecairos, @gideonthomas

added some inline comment and moved a few lines of code up
  source/js/fellowships.js
Owners: @gvn, @mmmavis

CODEOWNERS:

# Default reviewers
* @alanmoo @cadecairos @gvn @pomax @gideonthomas

# Root level config files and docs
/* @gvn

# Backend
/network-api/ @cadecairos @gideonthomas
/.snyk @cadecairos
/.travis.yml @cadecairos
/Procfile @cadecairos
/appveyor.yml @cadecairos
/env.default @cadecairos @gvn
/requirements.txt @cadecairos
/runtime.txt @cadecairos

# Frontend
/source/ @gvn @mmmavis

# Static build system
/scripts/ @gvn
